PORT=3000

# Keycloak 
KC_BASE_URL=
KC_REALM=
KC_CLIENT_ID=
KC_CLIENT_SECRET=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

# Cookie/session
SESSION_COOKIE_NAME=
SESSION_COOKIE_SECRET=

# DB
DATABASE_URL="file:./dev.db"
